body{
    background-color: antiquewhite;
}

/* INDEX */

.portada__limon{
    height: 80vh;
    width: 100%;
    padding: 20px 50px 0px 50px;
    text-align: center;
}

.titulo-limon{
    font-size: 50px;
}

.card1{

    margin-right: 0px;
    padding-right: 0px;
}

.card-title{
    text-align: center;
}

.card-body{
    padding-right: 0px;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 30px;
    font-size: 18px;
} 

.card {
    margin: 30px 30px 30px 30px;
    padding: 0px 0px 0px 0px;
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}


.producto {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}




.boton-eliminar {
    height: 20px;
    border: none;
    background-color: white;
}

.boton-carrito {
    background-color: white;
    border: none;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.contador {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.img-carrito {
    height: 40px;
    width: 40px;

}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}












