body{
    background-color: antiquewhite;
}

h1{
    background-color: blue;
}


/* INDEX */

.portada__limon{
    height: 80vh;
    width: 100%;
    padding: 20px 50px 0px 50px;
    text-align: center;
}

.titulo-limon{
    font-size: 50px;
}

.card1{
    padding: 20px 0px 20px 40px;
    margin-right: 0px;
}

.card-title{
    text-align: center;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    border: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}





