body{
    background-color: antiquewhite;
}

h1{
    background-color: blue;
}


/* INDEX */

.portada__limon{
    height: 80vh;
    width: 100%;
    padding: 20px 50px 0px 50px;
    text-align: center;
}

.titulo-limon{
    font-size: 50px;
}

.card1{

    margin-right: 0px;
}

.card-title{
    text-align: center;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 30px;
    font-size: 18px;
} 

.card {
    margin: 30px 30px 30px 30px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}










